p{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    text-align: justify;
}
h2{
    background-color: rgb(5, 80, 80);;
    color: antiquewhite;
}
h1{
    background-color: chartreuse;
    text-align: center;
    color: rgb(5, 8, 80);
}